@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display:flex;
    height: 98%;
    width: 99%;
    background-color: lightgray;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex: 1 1;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.monaco-editor-container {
    height: 100%;
    border: 1px solid gray;
}

.header {
    font-weight: normal;
    font-size: 16pt;
}

div.refresh {
    position: relative;
    width: 160px;
    float: right;
    vertical-align: bottom;
}

div.refresh span {
    vertical-align: bottom;
}

div.refresh div {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    cursor: pointer;
    line-height: 1;
}

.banner                  { 
    /* grid-area: 1 / 1 / 2 / 3; */
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid black;

    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14pt;
}

    .banner .title {
        float: left;
        font-weight: bold;
    }

        .banner .title .version {
            font-size: 10pt;
        }

    .banner .about {
        float: right;
    }


.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2em 1fr 2em 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    }

    .code-header             { grid-area: 1 / 1 / 2 / 2; }
    .generator-header        { grid-area: 1 / 2 / 2 / 3; }
    .code                    { grid-area: 2 / 1 / 3 / 2; }
    .generator               { grid-area: 2 / 2 / 3 / 3; }
    .program-output-header   { grid-area: 3 / 1 / 4 / 2; }
    .generator-output-header { grid-area: 3 / 2 / 4 / 3; }
    .program-output          { grid-area: 4 / 1 / 5 / 2; }
    .generator-output        { grid-area: 4 / 2 / 5 / 3; }

.fileUpload {
    position: relative;
    overflow: hidden;
    width: 100px;
    line-height: 1;
    float: right;
}
.fileUpload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}